streamlit
PyPDF2
pytesseract
Pillow
python-dotenv
google-generativeai
langchain
langchain-community
langchain-google-genai
langchain-text-splitters
transformers
torch
sentence-transformers
faiss-cpu
